*{
    background-color: rgb(232, 230, 236);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container1{
    background-color: rgb(165, 182, 163);
    border: 20px inset rgba(24, 28, 18, 0.622);
    border-radius: 20px;
    
    
}
.container1>h1{
    color: rgba(28, 74, 47, 0.835);
    
}

.container2{
    background-color: rgba(6, 6, 4, 0.458);
    border: 10px dotted rgba(8, 8, 7, 0.397);
    border-radius: 20px;
    padding: 10px 20px;

}
.container2>h1{
    color: rgb(87, 87, 37);
}

.container3{
    background-color: rgba(32, 65, 71, 0.426);
    border: 20px solid rgba(21, 23, 23, 0.426);
    border-radius: 20px;
}
.container>h1{
    color: rgba(31, 47, 50, 0.141);
}